{% extends 'base.html.twig' %}

{% block body %}
    <section id="main">
        <h1>Bienvenue</h1>
        <div id="homeChoices">
            <a href="">
                <div>
                    <p>Connexion</p>
                </div>
            </a>
            <a href="">
                <div>
                    <p>Nouvel utilisateur</p>
                </div>
            </a>
        </div>
    </section>
{% endblock %}
