{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
    <section id="main">
        <h1>Bienvenue {%  if username is defined %} {{ app.user.name }} {%  endif %}</h1>

        <div class="buttonChoice">
            <a title="Voir ressources" href="{{ path('app_warehouse') }}">
                <div>
                    <p>Voir les ressources possédées</p>
                </div>
            </a>
        </div>
        <div class="buttonChoice">
            <a title="Voir robots" href="{{ path('app_robot_shed') }}">
                <div>
                    <p>Voir les robots en fonction</p>
                </div>
            </a>
        </div>
    </section>
{% endblock %}
